{% extends "base.html" %}

{# номер лабы #}
{% block lab %}Лабораторная работа 4{% endblock%}

{# основной контент#}
{% block main %}
    <form method="post" action="/lab4/div">
        <h1>Арифметические операции</h1>
        <input type="number" name="x1">
        <select name="op">
            <option value="/" {{place == '/' and 'selected'}}>/</option>
            <option value="+" {{place == '+' and 'selected'}}>+</option>
            <option value="*" {{place == '*' and 'selected'}}>*</option>
            <option value="-" {{place == '-' and 'selected'}}>-</option>
            <option value="**" {{place == '**' and 'selected'}}>возвести в степень</option>
        </select>
        <input type="number" name="x2">
        <input type="submit" value="=">
    </form>
{% endblock %}