{% extends "base.html" %}

{# номер лабы #}
{% block lab %}Лабораторная работа 3{% endblock%}

{# основной контент#}
{% block main %}
    {% if error %}
        <h1>Ошибка</h1>
        {{ error }}
    {% else %}
        {% if op == '/' %}
            <h1>Деление чисел</h1>
            {{ x1 }} / {{ x2 }} = {{ result }}
        {% elif op == '+' %}
            <h1>Сложение чисел</h1>
            {{ x1 }} + {{ x2 }} = {{ result }}
        {% elif op == '*' %}
            <h1>Умножение чисел</h1>
            {{ x1 }} * {{ x2 }} = {{ result }}
        {% elif op == '-' %}
            <h1>Вычетание чисел</h1>
            {{ x1 }} - {{ x2 }} = {{ result }}
        {% elif op == '**' %}
            <h1>Возведение в степень чисел</h1>
            {{ x1 }} в степени {{ x2 }} = {{ result }}
        {% else %}
            <h1>Неизвестная операция</h1>
        {% endif %}
    {% endif %}
    <div>
        <a href="/lab4/div-form">Назад</a>
    </div>
{% endblock %}