{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Регистрация нового пользователя</h1>
    <form method="post" class="order">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <div>
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
{% endblock %}
