{% extends "base.html" %}

{# номер лабы #}
{% block lab %}Лабораторная работа 4{% endblock%}

{# основной контент#}
{% block main %}
    <div>
        Посажено деревьев: {{ tree_count }}
    </div>
    <form method="post">
        {% if tree_count >= 10 %}
            <button disabled name="operation" value="plant">Посадить дерево</button>
        {% else %}
            <button name="operation" value="plant">Посадить дерево</button>
        {% endif %}

        {% if tree_count <= 0 %}
            <button disabled name="operation" value="cut">Срубить дерево</button>
        {% else %}
            <button name="operation" value="cut">Срубить дерево</button>
        {% endif %}
    </form>
    {% for _ in range(tree_count) %}
        <img src="{{ url_for('static', filename='/lab4/trent.png') }}" alt="Tree" width="100" />
    {% endfor %}
    {% if tree_count == 0 %}
        <img src="{{ url_for('static', filename='/lab4/tree.jpeg') }}" alt="Tree" width="500" />
    {% endif %}
{% endblock %}