{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Список цветов</h1>
    <ul>
        {% for flower in flower_list %}
            <li>{{ flower.name }}, {{flower.price}} &#8381; 
                <a href="/lab2/flowers/deleteNum/{{ loop.index0 }}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <form action="/lab2/add_flower" method="get">
        <label for="flower_name">Введите название цветка:</label>
        <input type="text" id="flower_name" name="name" required>
        <button type="submit">Добавить цветок</button>
    </form>
{% endblock %}

