{% extends "base.html" %}

{# номер лабы #}
{% block lab %}Лабораторная работа 3{% endblock%}

{# основной контент#}
{% block main %}
    <h1>Формы, cookie</h1>
    {% if name %}
        <div>Привет, <span style="color: {{name_color}}">{{name}}, твой возраст {{age}}</span>&#10071;&#10071;&#10071;</div>
    {% else %}
        <div>Привет, анонимус...</span>&#10071;&#10071;&#10071;</div>
    {% endif %}
    <div>Тема лабораторной - формы, cookie. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab3/cookie">КУКИ</a>
        </li>
        <li>
            <a href="/lab3/del_cookie"><u>Очистить куки</u></a>
        </li>
        <li>
            <a href="/lab3/form1">form1</a>
        </li>
        <li>
            <a href="/lab3/order">Заказ напитков</a>
        </li>
        <li>
            <a href="/lab3/settings">Настройки куки</a>
        </li>
        <li>
            <a href='/lab3/formTrain'>Покупка билета</a>
        </li>
    </ol>
{% endblock %}