{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    {% if min and max %}
        {% if showList|length == 0 %}
            <h1>Телефоны по диапазону не найдены!</h1>
            <a href="/lab3/smartPhone">Назад</a>
        {% else %}
            <h1>Список телефонов от {{min}}&#x20bd; до {{max}}&#x20bd;</h1>
            <a href="/lab3/smartPhone">Назад</a>
            <ul>
                {% for phone in showList %}
                    <li>
                        <div class="phone-item">
                            <div class="phone-name">{{ phone.Name }}</div>
                            <div class="phone-details">
                                <span class="phone-color">Цвет: {{ phone.Color }}</span>,
                                <span class="phone-mem">Объем памяти: {{ phone.MEM }} Гб.</span>,
                                <span class="phone-price">Цена: {{ phone.Price }}&#x20bd;</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h1>Выберете диапазон цен телефонов&#128242;:</h1>
        <form class="order">
            <label>Минимальная цена:</label>
            <div>
                <input type="number" name="min" value="{{min or ''}}">
                <span class="error">{{errors.min}}</span>
            </div>

            <label>Максимальная цена:</label>
            <div>
                <input type="number" name="max" value="{{max or ''}}">
                <span class="error">{{errors.max}}</span>
            </div>

            <div style="margin: 35px;">
                <button type="submit">Поиск</button>
            </div>       
        </form>
    {% endif %}
{% endblock %}