body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: red;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2em;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    padding: 15px 20px; 
    border-radius: 10px;
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease; 
}

.order {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}

.order label {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.order input[type="radio"],
.order input[type="checkbox"] {
    margin-right: 10px;
}

.order button {
    background-color: red;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order button:hover {
    background-color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

.phone-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.phone-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.phone-details {
    font-size: 14px;
    color: #555;
}

.phone-color, .phone-mem, .phone-price {
    margin-right: 10px;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.user-item:hover {
    background-color: #f9f9f9;
}

.user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    flex-grow: 1;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user-details {
    font-size: 14px;
    color: #555;
}

.user-details .user-sex i {
    margin-left: 5px;
}

/* Общие стили контейнера */
.main-container {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Стили заголовков */
.title {
    color: #4a4a8c;
    text-align: center;
    font-size: 1.5em;
}

.subtitle {
    color: #4a4a8c;
    text-align: center;
    font-size: 1.2em;
}

/* Стили списка пользователей */
.user-list {
    margin-top: 20px;
}

.user-item {
    background-color: #e7e7f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.user-name, .user-login {
    font-weight: bold;
}

/* Стили формы и полей */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стили кнопок */
.button {
    background-color: #4a4a8c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3a3a6c;
}

.button-reset {
    background-color: #d9534f;
}

.error-message {
    color: #d9534f;
    font-size: 0.9em;
    text-align: center;
}

/* Стили ссылок */
.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #4a4a8c;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Стили кнопок действий */
.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form-inline {
    display: inline;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.link-container a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 3px;
}

.link-container a:hover {
    background-color: #e2e6ea;
    color: #4CAF50;
    text-decoration: underline;
}

.link-container div {
    padding: 10px;
    margin: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

.link-container div:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.link-container div a {
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
}

.link-container div a:hover {
    text-decoration: underline;
}


.article-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.article-title {
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 30px;
}

.article-text {
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 10px 20px;
    margin: 10px 0;
    font-style: italic;
    color: #666;
    word-wrap: break-word;
}

/* Стили для списка офисов */
#office-list {
    list-style-type: none;
    padding: 0;
}

#office-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

#office-list li span {
    font-weight: bold;
}

#office-list li button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#office-list li button:first-of-type {
    background-color: #f44336;
    color: white;
}

#office-list li button:last-of-type {
    background-color: #4CAF50;
    color: white;
}

#office-list li button:hover {
    opacity: 0.8;
}

/* Стили для отображения арендной платы */
#mountly-price {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f3fe;
    border: 1px solid #b8daff;
    border-radius: 5px;
    font-weight: bold;
    color: #004085;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Фиксированное положение */
    z-index: 100; /* Отображение поверх других элементов */
    top: 50%; /* Центровка по вертикали */
    left: 50%; /* Центровка по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для абсолютного центрирования */
    width: 400px; /* Ширина окна */
    max-width: 90%; /* Адаптация к меньшим экранам */
    background: #fff; /* Белый фон */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    padding: 20px; /* Отступ внутри окна */
    box-sizing: border-box; /* Учет padding в размерах */
}

/* Затемнение фона при отображении модального окна */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Полный экран */
    height: 100vh; /* Полный экран */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 99; /* Ниже модального окна */
    display: none; /* Скрыто по умолчанию */
}

/* Кнопки внутри модального окна */
.modal button {
    background-color: #28a745; /* Синий цвет */
    color: white; /* Белый текст */
    border: none; /* Без рамки */
    border-radius: 4px; /* Скругленные углы */
    padding: 10px 20px; /* Отступы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 14px; /* Размер текста */
    margin: 5px; /* Отступы между кнопками */
}

.modal button:hover {
    background-color: #106921; /* Темнее при наведении */
}

.modal .error-message {
    color: red; /* Красный цвет для сообщений об ошибках */
    font-size: 12px; /* Меньший шрифт */
    margin-top: 10px; /* Отступ сверху */
}

.table7 {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table7 thead {
    background-color: red;
    color: #fff;
}

.table7 thead th {
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.table7 tbody tr {
    border-bottom: 1px solid #ddd;
}

.table7 tbody tr:hover {
    background-color: #f1f1f1;
}

.table7 td {
    padding: 10px;
}

.table7 td:first-child {
    border-left: none;
}

/* .table7 td:last-child {
    text-align: center;
} */

.table7 button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

.table7 button:hover {
    background-color: #218838;
}

.table7 button.delete {
    background-color: #dc3545;
}

.table7 button.delete:hover {
    background-color: #c82333;
}
