<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}
            {{name}}.
        {% else %}
            ANONIMUS &#9785;
        {% endif %}
        {% if lab_num %}
            Лабораторная работа 2
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-прграммирование, часть 2. 
        {% if lab_num %}
            Лабораторная работа {{lab_num}}
        {% endif %}
    </header>

    <main>
        <p>11 × 28 = {{11*28}}</p>
        <p>3258 - 759 = {{3258-759}}</p>
        <p>8452 / 793 = {{8452/793}}</p>
        <p>45<sup>8</sup> = {{45**8}}</p>

        <ul>
            {% for i in fruits%}
            <li>{{loop.index}} - {{ i.name }}: {{ i.price }}&#x20bd;</li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        &copy; 
        {% if name %}
            {{name}}, 
        {% else %}
            ANONIMUS &#9785;
        {% endif %}
        {% if group %}
            {{group}}, 
        {% else %}
            Группа не указана, 
        {% endif %}
        {% if course %} 
            {{course}} курс, 
        {% else %}
            Курс не указан, 
        {% endif %}
        2024
    </footer>
</body>
</html>