{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='rgz/rgz.js') }}"></script>
<style>
</style>
{% endblock %}

{% block main %}
    {% if username %}
        <div>
            Здравствуйте, {{ username }}! <br>
            <button onclick="logout()">Выйти</button>
            <button onclick="showAddInitiativeModal()">Добавить инициативу</button>
        </div>
    {% else %}
        <div>
            <button onclick="showRegisterModal()">Регистрация</button>
            <button onclick="showLoginModal()">Вход</button>
        </div>
    {% endif %}

    <h1>Мои инициативы</h1>
    <table class="table7">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Текст</th>
                <th>Дата</th>
                <th>Оценка</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="Myinitiatives-list"></tbody>
    </table>

    <h1>Инициативы</h1>
    <table class="table7">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Текст</th>
                <th>Дата</th>
                <th>Оценка</th>
                <th>Автор</th>
            </tr>
        </thead>
        <tbody id="initiatives-list"></tbody>
    </table>
    
    <script>
        fillInitiativesList();
        fillMyInitiativesList();
    </script>

    <!-- <div class="modal">
        <input type="hidden" id="id">
        
        <label>
            Инициатива:<br>
            <input type="text" id="initiative">
        </label><br>

        <label>
            Текст инициативы:<br>
            <input type="text" id="initiative_txt">
        </label><br>

        <button onclick="sendFilm()">OK</button>
        <button onclick="cancel()">Отмена</button>
    </div> -->

   <!-- Регистрация -->
<div class="modal" id="register-modal" style="display: none;">
    <label>
        Введите имя:<br>
        <input type="text" id="register-username">
    </label><br>

    <label>
        Введите пароль:<br>
        <input type="password" id="register-password">
    </label><br>

    <button onclick="register()">OK</button>
    <button onclick="cancelRegister()">Отмена</button>
</div>

<!-- Вход -->
<div class="modal" id="login-modal" style="display: none;">
    <label>
        Введите имя:<br>
        <input type="text" id="login-username">
    </label><br>

    <label>
        Введите пароль:<br>
        <input type="password" id="login-password">
    </label><br>

    <button onclick="login()">OK</button>
    <button onclick="cancelLogin()">Отмена</button>
</div>

<div class="modal" id="add-initiative-modal" style="display: none;">
    <input type="hidden" id="initiative-id">

    <label>
        Название инициативы:<br>
        <input type="text" id="initiative-title">
    </label><br>

    <label>
        Текст инициативы:<br>
        <textarea id="initiative-content"></textarea>
    </label><br>

    <button onclick="addInitiative()">Добавить</button>
    <button onclick="closeAddInitiativeModal()">Отмена</button>
</div>

<div class="modal" id="edit-initiative-modal" style="display: none;">
    <input type="hidden" id="initiative-id">

    <label>
        Название инициативы:<br>
        <input type="text" id="initiative-title">
    </label><br>

    <label>
        Текст инициативы:<br>
        <textarea id="initiative-content"></textarea>
    </label><br>

    <button onclick="updateInitiative()">Сохранить</button>
    <button onclick="closeEditInitiativeModal()">Отмена</button>
</div>

{% endblock %}